/* 
    Document   : home
    Created on : May 16, 2016, 12:15:27 AM
    Author     : Montasser Mossallem
    Description:
        Purpose of the stylesheet follows.
*/

 html {
    overflow-x: hidden;
}

@font-face {
  font-family: 'AUdimatRegular';
 src: url('../fonts/AUdimat-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'KGTraditionalFractions';
 src: url('../fonts/KGTraditionalFractions.ttf') format('opentype');
}

 @font-face {
  font-family: 'Raleway-regular';
 src: url('../fonts/Raleway-Regular.ttf') format('opentype');
}

 @font-face {
  font-family: 'Economica-Regular';
 src: url('../fonts/Economica-Regular-OTF.otf') format('opentype');
}
 @font-face {
  font-family: 'Economica-Bold';
 src: url('../fonts/Economica-Bold-OTF.otf') format('opentype');
 }
 @font-face {
  font-family: 'Digital_tech';
 src: url('../fonts/Digital_tech.otf') format('opentype');
}
 @font-face {
  font-family: 'MuseoSans_900';
 src: url('../fonts/MuseoSans_900.ttf') format('opentype');
}
@font-face {
  font-family:  'MuseoSans_500';
   src: url('../fonts/MuseoSans_500.ttf') format('opentype');
}

 @font-face {
  font-family: 'Barkentina';
 src: url('../fonts/Barkentina.otf') format('opentype');
}



@font-face {
  font-family: 'Raleway-SemiBold';
 src: url('../fonts/Raleway-SemiBold.ttf') format('opentype');
}




@font-face {
  font-family: 'Roboto-Black';
 src: url('../fonts/Roboto-Black.ttf') format('opentype');
}
@font-face {
  font-family: 'Roboto-Light';
 src: url('../fonts/Roboto-Light_1.ttf') format('opentype');
}
@font-face {
  font-family: 'Roboto-Medium';
 src: url('../fonts/Roboto-Medium.ttf') format('opentype');
}
@font-face {
  font-family: 'HelveticaNeueMed';
 src: url('../fonts/HelveticaNeueMed.ttf') format('opentype');
}


body{
    font-family: arial , sans-serif ;
    margin: 0px ;
    outline: 0px;
}


/*EF4836*/
.navbar-default {
     border-color: transparent;
    border-radius: 0px;
     background: rgba(249, 191, 59,5);
}
.slider {
    z-index: 20;
    position: relative;
    width: 100%;
    position: relative ;
    overflow: hidden ;
    height: 650px;
     background-color: rgba(0,0,0,1);
     background-position: 80% 10%;
     background-size: cover ;
      
}
.slide-mask {
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a {
    color: #000;
}


.logo:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 20;
     margin: 0 auto;
     z-index: 2;
    width: 0;
    height: 0;
    border-top: solid 50px  rgba(249, 191, 59,5);;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}
.img-background {
    z-index: 100;
}

.slide-mask {
    z-index: 110;
}
.carousel {
    left: 0px ;
    right: 0px;
    bottom: 30%;
    top: 30%;
    z-index: 150;
    position: absolute;
     text-align: center;
}

.heading {
    font-size: 80px;
    font-family: 'MuseoSans_900';
    color: rgba(249, 191, 59,5);
}
.heading span {
    display: inline-block;
}
.heading3 {
    padding: 0px;
    margin: 0px;
    float: right;
    margin-top: -10px;
     font-family: 'MuseoSans_500';
    
}
.slogan {
    width: 100%;
    display: inline-block;
    color: #fff;
    font-family: 'Barkentina';
    font-size: 35px;
    margin-top: 10px;
   
}
.section-valuable {
    height: 200px;
    overflow: hidden;
    display: block;
    position: relative;
}
.values {
   margin-top: 85px;
   font-family: 'AUdimatRegular';
   color: #000;
   padding-left: 20px;
}
.btnprimarico {
    margin-top: 85px;
    display: inline-block;
    background: #e60d2d;
    border: 0px;
    color: #fff;
    font-family: 'MuseoSans_500'; 
    border-radius: 0px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btnprimarico:hover ,  .btnprimarico:link , .btnprimarico:visited , .btnprimarico:focus{
     background: #e60d2d;
      color: #fff;
}
.section-valuable {
    position: relative;
    padding: 0px;
    margin: 0px;
    background-color:  rgba(249, 191, 59,5);
    
    background-size: cover ;
    background-position: center ;
    background-repeat: no-repeat ;
    background-image: url(../images/bg_register_now.jpg);
    background-attachment: fixed;
}
.section-valuable .mask-layer {
    background-color:  rgba(249, 191, 59,.8);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 30;
}
.row {
    z-index: 50 ;
    position: relative;
}
 
.feauture_skills {
    background: #e60d2d;;
    padding-bottom: 60px;
}
.headlin-feature-course {
    font-family: 'AUdimatRegular';
    color: #fff;
}
.slick-arrow {
    display: none ;
}
.btn-slider {
    background: transparent ;
    border: 1px solid #fff;
    color: #fff;
    margin: 30px 0px 0px 0px;
    border-radius: 0px;
}
.btn-slider > .fa:hover {
      color: #fff;

}
.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
}

.single-item {
    margin-top: 20px;
}
.feauture-course-container {
    width: 77%;
      cursor: pointer;
    height: 330px;
   border: 1px solid #fff;
   overflow: hidden;
   position: relative;
    background: #fff;
    margin: 0px auto;
    
}
.image-container {
     overflow: hidden;
      height: 210px;
       width: 100%;
       
     
}
.img-course-block {
    height: 210px;
     width: 100%;
     
    z-index: 10 ;
    background-size: cover ;
    background-repeat: no-repeat ;
    background-position: 80% 80%;
    position: relative;
    overflow: hidden;
    
   transition: transform 2s;
}
.img-course-block:hover {
    transform:scale(1.1);
}
.mask-layer-courses {
    top: 0px ;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute ;
    background: rgba(0,0,0,.3);
}
.course-name-container {
    width: 100%;
    display: inline-block ;
   overflow: hidden ;
   padding: 7px 0px;
   font-family: 'Raleway-regular';
   color: #000;
   background: thistle;
}
.descripe-course-feauture {
    width: 100%;
    display: inline-block ;
    
}
.price-course-feauture {
     font-family: 'HelveticaNeueMed';
    color: #000;
    float: right;
    padding: 3px 10px;
    border-radius: 50%;
    margin-right: 20px;
    font-family: arial ,sans-serif;
    font-weight: bold;
     margin-top: 3px;
}
.groups {
    float: left;
    color: thistle; ;
    margin-left: 20px;
    padding-top: 5px;
}
.testmonalisa {
    background-image: url(../images/pattern.png);
    background-position: center ;
    background-repeat: repeat;
    min-height: 250px;
    position: relative;
    z-index: 20;
}
.layer-mask-test {
        
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px ;
    right: 0px;
}


.testmonalisa::before {
    position: absolute;
    z-index: -1;
    opacity: 0.1;
    top: 36px;
    left: 41%;
    content: "";
    height: 200px;
    width: 200px;
    background: url(../images/Quotes_symbol.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.tester {
    padding-top: 80px;
}
.tester:before {
    position: absolute;
    z-index: -1;
    opacity: 0.1;
    top: 36px;
    left: 41%;
    content: "";
    height: 200px;
    width: 200px;
    background: #fff;
    background-size: contain;
    background-repeat: no-repeat;
}
.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 0px;
  font-family: 'Raleway-regular';
  font-size: 18px;
}

.footer {
     
    overflow: hidden;
      background: rgba(249, 191, 59,5);
      
}
a , .navbar-nav > li > a,.nav > li > a:focus, .nav > li > a:hover{
    color: #000; 
    background: transparent;
}
@media screen and (max-width:780px){
    .logo img {
        width: 70px;
        margin-top: -20px;
    }
}
.loadin-page {
    position: fixed ;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 2000;
    background:  rgba(249, 191, 59,5);
}


.windows8 {
	position: relative;
	width: 60px;
	height:60px;
	margin:auto;
}

.windows8 .wBall {
	position: absolute;
	width: 57px;
	height: 57px;
	opacity: 0;
	transform: rotate(225deg);
		-o-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
	animation: orbit 4.2325s infinite;
		-o-animation: orbit 4.2325s infinite;
		-ms-animation: orbit 4.2325s infinite;
		-webkit-animation: orbit 4.2325s infinite;
		-moz-animation: orbit 4.2325s infinite;
}

.windows8 .wBall .wInnerBall{
	position: absolute;
	width: 7px;
	height: 7px;
	background: rgb(0,0,0);
	left:0px;
	top:0px;
	border-radius: 7px;
}

.windows8 #wBall_1 {
	animation-delay: 0.926s;
		-o-animation-delay: 0.926s;
		-ms-animation-delay: 0.926s;
		-webkit-animation-delay: 0.926s;
		-moz-animation-delay: 0.926s;
}

.windows8 #wBall_2 {
	animation-delay: 0.183s;
		-o-animation-delay: 0.183s;
		-ms-animation-delay: 0.183s;
		-webkit-animation-delay: 0.183s;
		-moz-animation-delay: 0.183s;
}

.windows8 #wBall_3 {
	animation-delay: 0.3665s;
		-o-animation-delay: 0.3665s;
		-ms-animation-delay: 0.3665s;
		-webkit-animation-delay: 0.3665s;
		-moz-animation-delay: 0.3665s;
}

.windows8 #wBall_4 {
	animation-delay: 0.5495s;
		-o-animation-delay: 0.5495s;
		-ms-animation-delay: 0.5495s;
		-webkit-animation-delay: 0.5495s;
		-moz-animation-delay: 0.5495s;
}

.windows8 #wBall_5 {
	animation-delay: 0.743s;
		-o-animation-delay: 0.743s;
		-ms-animation-delay: 0.743s;
		-webkit-animation-delay: 0.743s;
		-moz-animation-delay: 0.743s;
}



@keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin:0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin:7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin:30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin:39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin:70%;
	}

	76% {
	opacity: 0;
		transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		transform: rotate(900deg);
	}
}

@-o-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-o-transform: rotate(180deg);
		-o-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-o-transform: rotate(300deg);
		-o-animation-timing-function: linear;
		-o-origin:0%;
	}

	30% {
		opacity: 1;
		-o-transform:rotate(410deg);
		-o-animation-timing-function: ease-in-out;
		-o-origin:7%;
	}

	39% {
		opacity: 1;
		-o-transform: rotate(645deg);
		-o-animation-timing-function: linear;
		-o-origin:30%;
	}

	70% {
		opacity: 1;
		-o-transform: rotate(770deg);
		-o-animation-timing-function: ease-out;
		-o-origin:39%;
	}

	75% {
		opacity: 1;
		-o-transform: rotate(900deg);
		-o-animation-timing-function: ease-out;
		-o-origin:70%;
	}

	76% {
	opacity: 0;
		-o-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-o-transform: rotate(900deg);
	}
}

@-ms-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-ms-transform: rotate(180deg);
		-ms-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-ms-transform: rotate(300deg);
		-ms-animation-timing-function: linear;
		-ms-origin:0%;
	}

	30% {
		opacity: 1;
		-ms-transform:rotate(410deg);
		-ms-animation-timing-function: ease-in-out;
		-ms-origin:7%;
	}

	39% {
		opacity: 1;
		-ms-transform: rotate(645deg);
		-ms-animation-timing-function: linear;
		-ms-origin:30%;
	}

	70% {
		opacity: 1;
		-ms-transform: rotate(770deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:39%;
	}

	75% {
		opacity: 1;
		-ms-transform: rotate(900deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:70%;
	}

	76% {
	opacity: 0;
		-ms-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-ms-transform: rotate(900deg);
	}
}

@-webkit-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-webkit-transform: rotate(180deg);
		-webkit-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-webkit-transform: rotate(300deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:0%;
	}

	30% {
		opacity: 1;
		-webkit-transform:rotate(410deg);
		-webkit-animation-timing-function: ease-in-out;
		-webkit-origin:7%;
	}

	39% {
		opacity: 1;
		-webkit-transform: rotate(645deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:30%;
	}

	70% {
		opacity: 1;
		-webkit-transform: rotate(770deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:39%;
	}

	75% {
		opacity: 1;
		-webkit-transform: rotate(900deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:70%;
	}

	76% {
	opacity: 0;
		-webkit-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-webkit-transform: rotate(900deg);
	}
}

@-moz-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-moz-transform: rotate(180deg);
		-moz-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-moz-transform: rotate(300deg);
		-moz-animation-timing-function: linear;
		-moz-origin:0%;
	}

	30% {
		opacity: 1;
		-moz-transform:rotate(410deg);
		-moz-animation-timing-function: ease-in-out;
		-moz-origin:7%;
	}

	39% {
		opacity: 1;
		-moz-transform: rotate(645deg);
		-moz-animation-timing-function: linear;
		-moz-origin:30%;
	}

	70% {
		opacity: 1;
		-moz-transform: rotate(770deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:39%;
	}

	75% {
		opacity: 1;
		-moz-transform: rotate(900deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:70%;
	}

	76% {
	opacity: 0;
		-moz-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-moz-transform: rotate(900deg);
	}
}




/********************************************/
                /* Login */
/********************************************/
.log-section {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    z-index: 1500 ;
    background: rgba(249, 191, 59,.7); 
    display: table-row;
    
}
.log-block {
    display: block;
    position:absolute;
	left:46%;
	top:40%;
	margin:-100px 0 0 -150px;
    width: 360px;
    background: #fff;
   height: auto;
    
}
.log-headline {
    display: block;
    overflow: hidden;
    width: 100%;
    background:#ff5a5f;
    color: #fff;
    padding: 10px 5px;
 }
 .logheadline {
     display: block;
     overflow: hidden ;
     padding: 10px 15px 10px 15px;
     font-size: 18px;
     margin: 0px;
     font-family: 'MuseoSans_500';
     color: #fff;
 }
 
 .log-body {
     width: 100%;
     display: block;
     overflow: hidden;
     margin-top: 8px;
 }
 
 .input {
     width: 95%;
     display: block;
     overflow: hidden;
     border: 1px solid #e1e0de ;
     padding: 8px 8px;
     display: block;
     margin: 4px auto;
     font-family: 'MuseoSans_500';
 }
 .forget-password {
     width: 95%;
     display: block;
     overflow: hidden ;
     margin: 0px auto;
 }
 .forgetPassword , .forgetPassword:hover , .forgetPassword:focus {
     color: #666;
     text-decoration: none;
     outline: none;
 }
 .login-btn {
     width: 95%;
     display: block;
     overflow: hidden;
      display: block;
    margin: 8px auto;
    color: #fff;
    text-align: center;
    font-family: 'MuseoSans_500';
    font-size: 18px;
    padding: 8px 0px;
    border-color: #ff5a5f;
    border-bottom-color: #e00007;
    background-color: #ff5a5f;
    color: #fff;
    cursor: pointer;
 }
 .footer-logs {
     width: 95%;
     display: block;
     overflow: hidden;
     margin: 5px auto 8px auto;
     border-top: #e1e0de 1px solid ;
     
 }
 
  .ask-about-account,  .ask-about-account:hover ,  .ask-about-account:focus {
     color: #666;
     text-decoration: none;
     outline: none;
     
 }
 .ask-about-account {
     padding-top: 10px;
     padding-bottom: 8px;
     float: left;
     display: block;
 }
 .btn-sign   ,.btn-sign:hover   ,.btn-sign:focus ,  .btn-sign.focus{
     float: right;
     border-radius: 0px;
     background: none;
     color: #e60d2d;
     margin: 5px 0px 0px 0px;
     padding: 5px 5px ;
     outline: none;
     
 }
 
 .spanner {
     width: 95%;
     margin: 5px auto;
     color: #999;
 }
 
 
 .sign-s {
      padding-top: 10px;
padding-bottom: 10px;
 }
 .log-block {
     box-shadow: 0px 0px 8px #fff;
 }
 
 #login-section ,#sign-up-section {
     display: none ;
 }
 #login-section-close {
     position: fixed;
      background: transparent ;
     font-family: arial , sans-serif ;
     font-size: 18px;
     left:0px ;
     right: 0px;
     bottom: 0px;
     top:0px;
     padding: 4px;
 }
 .signup-block {
     top: 20%;
 }
 .course-name-container {
     font-size: 14px;
     font-family:  arial , sans-serif;
     color: #fff;
 }
 .Category {
     display: block ;
     width: 100%;
     overflow: hidden ;
     padding: 0px 0px;
     padding-left: 10px;
     margin: 0px;
     font-family: 'Raleway-SemiBold';
    background: #fff;
    text-align: left;
    
 }
 .Category b {
     display: inline-block;
  position: relative;  
  font-family: 'Roboto-Black';
 color: tan;
 }/*
 .Category b:after  {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid rgba(249, 191, 59,5); 
    border-top: 1px solid rgba(249, 191, 59,5); 
    top: 8px;
    width: 200px;
 }
 
 .Category b:after {
  left: 100%;
  margin-left: 10px;
}*/
 .price-course-feauture {
     font-size: 23px;
    margin-top: -13px;
    position: relative;
    background: tan;
    border-radius: 0px;
    margin-right: 0px;
    color: #fff;
 }
 .section-courses {
     margin-top: 50px;
 }
 
 .shadows {
     box-shadow: 0px 0px 5px 0px #999;
     margin: 8px;
     width: 260px;
     display: inline-block;
 }
 .pagination {
     padding: 3px 8px;
     background: rgba(249, 191, 59,5);
     color: #111;
     display: inline-block;
     border-radius: 0px;
     cursor: pointer;
 }
 .selected {
     background: #e60d2d;
     color: #fff;
 }
 .forma {
     width: 90%;
     float: left;
     margin: 10px 0px;
     border-radius: 0px;
 }
 .main-course-info {
    
     min-height: 350px;
     overflow: hidden ;
     padding-top: 60px;
     
     
     background-size: cover ;
     background-repeat: no-repeat ;
     background-position: 80% 80% ;
     background-image: url(../images/3.jpg);
      background-color: rgba(230,13,45,.5);  
      background-attachment: fixed;
      position: relative;
 }
 .headline-course-name {
     color: #fff;
      font-family: 'AUdimatRegular';
      display: block;
      padding: 20px 0px 0px 0px  ; 
      margin: 0px;
 }
 .container-of-coursename {
     position: absolute;
     top: 0;
     bottom: 0px;
     left: 0px;
     right: 0px;
     z-index: 50;
     background: rgba(0,0,0,0.5);
    
 }
 .items {
     position: relative ;
     z-index: 60;
 }
 .items-video {
       position: relative ;
     z-index: 70;
 }
 .category-item {
     display: block ;
      padding: 5px 10px 5px 10px  ; 
      margin: 5px;
      background: #000 ;
      float: left;
      color: #fff;
 }
 .title-description {
     float: left;
      padding: 5px 10px 5px 10px  ; 
      margin: 5px;
       color: #fff; 
 }
 #video-intreduction {
     width: 100%;
     margin: 20px;
 }
 
 
 /*
 
 #player {
  float:left;
  padding:1em 1em .5em;
  background-color:black;
  border:2px solid darkgreen;
  border-radius: 9px;
}
 
#controls {
  border: 1px solid darkgreen;
  width: 420px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 5px;
  padding-bottom: 3px;
  border-radius: 7px;
}
 
video {
  border:1px solid darkgreen;
  width:420px;
  height:231px;
  background:black;
}
 
button {
  text-indent:-9999px;
  width:16px;
  height:16px;
  border:none;
  cursor:pointer;
  background:transparent url('buttons.png') no-repeat 0 0;
}
 
.pause { background-position:-19px 0; }
.stop { background-position:-38px 0; }
.volume-plus { background-position:-57px 0; }
.volume-minus { background-position:-76px 0; }
.mute { background-position:-95px 0; }
.unmute { background-position:-114px 0; }
.replay { background-position:-133px 0; }
 
progress {
  color: green;
  font-size: 12px;
  width: 220px;
  height: 16px;
  border: none;
  margin-right: 40px;
  background: #434343;
  border-radius: 9px;
}
progress::-moz-progress-bar {
  color:green;
  background:#434343;
}
 
progress[value]::-webkit-progress-bar {
  background-color: #434343;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
 
progress[value]::-webkit-progress-value {
  background-color: green;
}*/
 .log-headline {
     display: none;
 }
 
 
 
 .log-headline-in {
    display: block;
    overflow: hidden;
    width: 100%;
    background:#ff5a5f;
    color: #fff;
    padding: 10px 5px;
     display: none;
 }
 .img_header {
     padding: 0px;
margin: 8px;
 }
 .deleeted {
     font-size: 20px;
     font-family: "Raleway-SemiBold";
 }
 .item-input {
     float: left; 
     display: inline-block ;
     width: 100%;;
     padding: 5px 10px;
     margin: 0px;
     border: 1px solid #eee;
 }
 .imgVideo {
     width: 700px;
     height: 400px;
     background:rgba(0,0,0, 0.5);
     display: block;
     margin: 25px;
     overflow: hidden ;
     position: relative;
     float: left;
 }
 .playIcon {
     position: relative ;
     width: 50px;
     height: 50px;
     display: block;
     background: red;
     top: 42%;
     left: 0px;
     right: 0px;
     cursor: pointer;
     margin: 0px auto;
     background: url(../images/play-1173551_960_720.png);
     background-size: cover ;
     background-position: center;
     z-index: 20;
 }
 .poster {
      background: url(../courses_covers/452482_c7a4_3.jpg);
       background-size: cover ;
     background-position: center;
     width: 100%;
     height: 100%;
     display: block ;
     position: absolute ;
     z-index: 1 ;
    
 }
 .mask-poster {
     top: 0px;
     left: 0px;
     right: 0px;
     bottom: 0px;
     position: absolute;
     display: block;
     background: #000;
      opacity: 0.4;
 }
 .video-contr {
     float: left;
     display: inline-block;
     overflow: hidden ;
     
     display: inline-block;
     margin: 30px 0px;
     width: 300px;
 }
 
 .video-contr-- {
      border-bottom: 1px solid rgba(238,238,238,0.5);
      padding-bottom: 30px;
 }
 .current-price {
     float: left;
     color: #fff;
     font-size: 32px;
    font-weight: bold;
    line-height: 1;
    width: 100%;
    display: block;
 }
 .take-this {
     width: 100%;
     display: block;
     overflow: hidden;
 }
 
 .btn-custome {
     background: rgba(249, 191, 59,5);
     border-radius: 0px;
     margin: 5px 0px 0px 0px;
     border: 1px solid  rgba(249, 191, 59,5) ;
     float: left;
     padding: 5px 10px;
     cursor: pointer;
     color: #000;
 }
 #coupon-value {
     float: left ;
     display: inline-block;
     width: 100px;
 }
 .btna {
     background: #c43c35;
     padding:3px 1px;
     border: 0px;
     color: #fff;
     margin-left:  2px;
     float: left;
 }
 .nitem {
     padding: 10px 0px ;
     color: #fff;
 }
 .content-course {
     display: block;
     overflow: hidden ;
     width: 100%;
 }
 .header-foooter {
      background: rgba(249, 191, 59,5);
     padding: 20px;
     line-height: 12px;
 }
 .desc {
     font-family: "MuseoSans_500";
 }
 .course-objective {
     background-image: url(../images/pattern.png);
      background-repeat: repeat ;
     background-position: center ;
     min-height: 600px;
 }
 tr td:first-child{
    width:1%;
    white-space:nowrap;
}
.courses-headline {
       font-family: "MuseoSans_900";
}
.videos-link {
    background-image: url(../images/play-1173551_960_720.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left;
    padding: 25px 25px;
}
.lect_number {
    padding: 10px;
    margin-right: 30px;
    display: inline-block;
    color: #222;
    font-family: 'Raleway-regular';
    color: #204d74;
}


.lect_name {
    padding: 10px;
    margin-right: 30px;
    display: inline-block;
    color: #222;
    font-family: 'Roboto-Black';
    font-size: 16px;
}
.videos-link , .videos-link:hover , .videos-link:link , .videos-link:focus , .videos-link:active {
    text-decoration: none;
    cursor: pointer;
}
.lect_minutes {
     padding: 10px;
    text-align: right;
    display: inline-block;
    color: #222;
    font-family: 'MuseoSans_500';
    color: #888;
}
tr {
    cursor: pointer;
}
