/* 
    Document   : admin
    Created on : May 19, 2016, 2:53:08 PM
    Author     : Montasser Mossallem
    Description:
        Purpose of the stylesheet follows.
*/

.user-info {
    background: #fff;
    overflow: hidden;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
}
.user-data {
    padding-left: 10px;
    padding-right: 10px;
    display: block ;
    width: 98%;
    overflow: hidden;
}
.avat {
    width: 80px;
    height: 80px;
    margin: 10px 10px 10px 0px;
    float: left;
    border-radius: 40px;
    
}
.user-info b {
    background: #EEE;
    width: 100%;
    display: block ;
    overflow: hidden;
    color: #222 ;
    padding: 5px;
}
.user-data span {
   
}
.user-data span:after {
    clear: both;
}
.some-info {
    float: left;
    display: inline-block;
     float: left ;
    padding: 10px 0px 0px 0px ; 
     
    display: block ;
}
.userss {
    width: 100%;
    display: block;
    overflow: hidden;
}
.spanx6 {
    width: 398px;
    display: inline-block;
    height: 110px;
    padding: 5px 9px;
    margin: 8px;
    background: #fff;
    border: 1px solid #dfdfdf;
    float: left;
     
     overflow: hidden;
}
.img-block {
    width: 80px;
    height: 80px;
    border-radius: 45px;
    overflow: hidden;
    margin: 10px;
    padding: 5px;
    display: inline-block ;
    float: left;
    overflow: hidden;
    background-size: cover ;
    background-repeat: no-repeat; 
    background-position: center ;
}

.adminAccess ,.adminAccess:link , .adminAccess:hover , .adminAccess:visited{
    background: tomato ;
    border: 0px;
    color: #fff;
    padding: 2px 5px;
    margin: 0px auto;
    display: inline-block;
    cursor: pointer ;
    text-decoration: none;  
     overflow: hidden;
}
.adminAccess:hover  {
    background: #fc7158;
}
.user-info-block {
    float: left ;
    margin: 15px 5px 5px 5px;
     overflow: hidden;
    width: 250px;
}
.user-access {
    width: 250px;
    float: left;
    overflow: hidden;
     overflow: hidden;
}
.usercontrole {
  
    display: block;
    background: #fff;
    margin: 0px;
    padding: 15px 10px 10px 10px;
    border-radius: 5px; 
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}
.usercontrole:last-child {
    padding: 0px;
}
 
.titles {
    width: 100%;
    overflow: hidden ;
    display: block ;
    background: #222;
    border-radius: 0px;
    padding: 5px 10px;
    color: #fff;
    
}
.container-websetting {
    width: 100%;
    display: block ;
    padding: 10px;
    overflow: hidden;
}
.input-form {
    margin: 5px 10px;
    border:1px solid #eee;
    padding: 5px 10px;
    width: 80%;
    float: right;
    margin-right: 20px;
    resize: none;
}
.form-control{
    float: left;
    width: 100%;
    display: block;
}
.name-name {
    float: left;
    vertical-align: middle  ;
    position: relative;
    display: inline-block;
    padding: 8px 0px;
}
.data-indding {
    margin-top: 15px ;
    display: inline-block;
    float: right;
    width: 82.5%;
}
.input-innary {
    display: block ;
    overflow: hidden;
    float: right;
    margin: 10px 30px;;
    
}
.loading-results {
    float: left; 
    display: inline-block ;
    padding: 10px; 
    color: tomato ;
}
.unstyled {
    height: 300px;
}
.ntf-headlines {
    position: relative ;
    display: block ;
    overflow: hidden;
    width: 98%;
    padding: 10px 5px;
    border-bottom: 1px solid #eee;
}
.ntf-container {
    width: 98%;
    margin: 0px auto;
    display: inline-block;
    height: 240px;
    border: 1px solid transparent;
    overflow-x: hidden ;
    overflow-y: auto;
}